.media {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  gap: 100px;
  padding: 33px 2% 23px;
  margin: 0 auto;
}

.media__date {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0;
}
